



#uname{
    position:absolute; 
    
    left: -80px; 
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
justify-content: center;
    color: white; 
    font-family: 'Open Sans'; 
    font-size: 14px; 
    background-color: #000000;
    border-radius: 4px;
    border: 2.5px solid #000000;
     opacity: 0; 
     transition: all 2s ease-in-out, opacity 2s ease-in-out; 
     z-index: 2000;
     padding-left: 10px;
     padding-right: 10px;
}

@media only screen and (max-width: 1440px) and (min-width: 992px){ /*----------------------------------------------------------------------*/
    #contofpop{
        height: 100%;
        width: 100%;
        transition: all 1s ease-in-out;
    }
    
    #closebtn{
        position: absolute;outline: none; z-index: 601; 
        top: 2%;
        right: 1%;
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
    }
    
    #closebtn:active{
        transform: translateY(1px);
        
    }
    
    #insbanner{
        height: 55px;width: auto; position: absolute; background-color: #FFD500; z-index: 600; border-radius: 48px;
        top: 10%;
        right: 22%;
        font-family: 'Open Sans';
        color: #1F249D;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 20px;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        visibility: hidden;
        opacity: 0;
        transform: scale(0);
    }
    
    #clickn{
       
        
       
        outline: none;
    }
    #clickn:active{
        
        transform: translateY(1px);
    }
    #clickp{
       
        
       
        outline: none;
    }
    #clickp:active{
        
        transform: translateY(1px);
    }
    
    #big{
        position:absolute;
        width:100%; 
        height:100%;
        border-radius: 0;
        opacity: 0;
        -webkit-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        z-index: 400;
        visibility: hidden;
        overflow: hidden;
    }
    #big:after{
        content:'';
        position:absolute;
        top:var(--tp);
        right:var(--rt); 
        transform: translate(var(--x),var(--y));
       
        border-radius:var(--r);
        width:var(--w); 
        height:var(--h);
        box-shadow: 0px 0px 0px 2000px rgba(18, 22, 139, 0.8);
        -webkit-transition: var(--trans);
        transition: var(--trans);
        overflow: auto;
    }
    
    #how{
        
    }
    
    #how:active{
        transform: translateY(1px);
        animation: generate 3s 1 alternate steps(20);
        
    }
    
    
    @keyframes trans{
        0%{opacity:1}
        50%{opacity:0}
        100%{opacity:1}
        }
    
    
    
    
    
    
    #overall{
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
       
    }
    
    #head{
        position: relative;
    background-color: #F8F8F8;
    height: 12mm;
    
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 6px;
    }
    
    #inhead{
    
    }
    
    
    
    
    
    #Tbody{
        position: relative;
        top: -7mm;
      display: flex;
      align-items: center;
      justify-content: center
    }
    
    
    h5{
        position: relative;
        top: -2mm;
        font-family:'Roboto';
        height: 2.5mm;
        left: 0.7mm;
        color: #577CB5;
    }
    
    #infopanel{
        position: absolute;
    right: 0%;
        
        max-height: 100%;
        min-height: fit-content;
        height: 100%;
        width: 25%;
        z-index: 1;
        
        font-family: Tinos;
        
        
       background-color: #0317A1 ;
      
      display: flex;
      align-items: center;
      justify-content: center;
     
    }
    
    #topinfo
    {opacity:1;height: 58px; width: 100%; background-color: #001DEC; position: absolute; top: 0%; z-index: 7; color: white; justify-content: center; align-items: center; display: flex; font-family: 'Open Sans'; font-weight:bold; font-size: 14px;}
    
    #bottominfo{
        height: 68px; width: 100%; background-color: #001DEC; position: absolute; bottom: 0%; z-index: 7; display:flex; align-items: center; justify-content: center; 
    }
    
    
    
    #pheader{
        position: absolute;
            font-family: 'Open Sans';
            font-weight:normal;
            font-size: 10px;
            color: white;
            float: left;
        }
    .pheader1{
    top: 0px;
    }
    .pheader2{
        top: 47px;
        }
        .pheader3{
            top: 95px;
            }
            .pheader4{
                top: 142px;
                }
                .pheader5{
                    top: 190px;
                    }
    
    
        #txtboxescontainer{
            top:90px; position: absolute;width: 225px;
        }
    
        #txthead{
            top: -41px; height: fit-content;width: fit-content; position: absolute;
        }
    
    #txtboxes{
        opacity: 1; position: absolute;top: -14px;
    }
    
    
    
    #name{
        position: relative;
        /*top:-5mm;*/
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
       max-width: 119mm;
       border: none;
       vertical-align: middle;
       color: #0317A1;
       overflow: hidden;
       outline: none;
       display:inline-block; vertical-align:middle;  resize: none;  border-radius: 6px; width:225px; height: 27px; padding-left: 10px; padding-top: 4.5px; box-sizing: border-box;
    }

    #name:focus{
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    }
    
    ::placeholder{
        top:1px;
        color: #a1a1c0;
        position: relative;
        font-size: 10px;
        
    }
    
    #designation{
        position: relative;
        overflow: hidden;
        top:20px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
       max-width: 119mm;
       border: none;
       outline: none;
       resize: none;  border-radius: 6px; width:225px; height: 27px;  padding-left: 10px;padding-top: 4.5px; box-sizing: border-box;color: #0317A1;
    }
    #designation:focus{
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    }
    #content{
        position: relative;
        top:70px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
       max-width: 119mm;
       border: none;
       overflow: hidden;
       outline: none;
       resize: none;  border-radius: 6px; width:225px; height: 140px; padding-left: 10px; padding-top: 4.5px; padding-right: 10px; box-sizing: border-box;color: #0317A1;
    }

    #content:focus{
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    }
    #mail{
        position: relative;
        top:36px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
       max-width: 119mm;
       border: none;
       overflow: hidden;
       outline: none;
       resize: none;  border-radius: 6px; width:225px; height: 27px;  padding-left: 10px;padding-top: 4.5px; box-sizing: border-box;color: #0317A1;
    }
    #mail:focus{
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    }
    #mobile{
        position: relative;
        top:53px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
       max-width: 119mm;
       border: none;
       overflow: hidden;
       outline: none;
       resize: none; border-radius: 6px; width:225px; height: 27px;  padding-left: 10px;padding-top: 4.5px; box-sizing: border-box;color: #0317A1;
    }
    
    #mobile:focus{
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    }
    
    
    
    
    
    
       
        /*
        .download{
            position: relative;
            left: 0mm;
            top:122mm;
            float: right;
        }
        .preview{
            position: relative;
            left: 1mm;
            top:122mm;
        }*/
       
       
       
       /*BG img drag css*/
    
    
    
    #interaction{
        height: 99px;
        width: 285px;
        position: relative;
        top: 3mm;
        display: flex;
        justify-content: center;
    }
    
    /*#inpFile{
        position: relative;
        width: 47mm;
        cursor: pointer;
        color: #4F8BFF;
        background-color: aliceblue;
       border: none;
        }
    */
    
    #browse{
        bottom: 21%; 
        position: absolute;
        border: 0.01px solid #ffffff;
        border-style: dashed;
        border-radius: 4px;
        height: 70px;
        width: 225px;
        display: flex;
        justify-content: center;
        
    }
    
    #browsetxt{
        position: absolute;
        color: #ffffff; opacity: 0.6; font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    top: -6px;
    }
    
    
    
        #btnUpload {
            bottom: 10px;
        position: absolute;
        font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 14px;
    width: 100px;
    height: 29px;
    border-radius: 5px;
    border: 0.02px solid #ffe45e;    
       
         display: flex;
         align-items: center;
         justify-content: center;
         background: transparent;
        float: left;
        cursor: pointer;
        
      
        
        outline: none;
        transition: 0.1s ease-in-out;
        
        color: #FFDD33;
        
       
        
        
          }
    
          #btnUpload:hover {
            
        transition: 0.1s ease-in-out;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        background-color: rgb(255, 222, 55, 0.2);
        }    
        
    
    #btnUpload:active{
        transform: translateY(1px);
    }
    
    
    
    
    #control{
         bottom: 13.5%;
        position: absolute;
        
        
        height: 30px;
        width: 225px;
        display: flex;
        justify-content: center;
        
    }
    
    
    
    
    #reset {
        position: absolute;
        font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 0.5px solid #ffffff;    
         
         display: flex;
         align-items: center;
         justify-content: center;
         background: transparent;
        float: left;
        cursor: pointer;
        
      left: 0px;
        
        outline: none;
        transition: 0.1s ease-in-out;
        
        color: #ffffff;
        
       float: left;
        
        
          }
    
          #reset:hover {
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        transition: 0.1s ease-in-out;
        background-color:#1a31c7;
        }    
        
    
    #reset:active{
        transform: translateY(1px);
    }
    
    
    
    
    
    #submit{
        right: 0px;
    
        position: absolute;
        border: 1px solid #FFD500;
        font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    width: 100px;
    border-radius: 5px;
        height: 30px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFD500;
        padding: 0px 13px;
        cursor: pointer;
        
        
        outline: none;
        transition: 0.1s ease-in-out;
        color: #1F249D;
        float: right;
    }
    
    #submit:hover{
      
       transition: 0.1s ease-in-out;
       
       background: #eec600;
       box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    }
    
    #submit:active{
       
       transform: translateY(1px);
    }
    






    #base{
        position: relative;
        left: 2.5mm;
        height: 133mm;
        background-color: #F8F8F8;
        border-radius: 6px;
     }
     #container{
        position: absolute;
        
        max-height:530px;
        max-width:530px;
        height: 530px;
        width: 530px;
       float: left;
       
       }
    



    #layer1{
        position: absolute;
        background-image: url("img/BG.png");
         background-color: transparent;
         height: 98%;
         width: 98%;
         background-position:left;
         background-repeat: no-repeat;
         background-size:cover;
         float: left;
          
     }
     
    
     div.bg-img {
         position: absolute;
     background-image: url("img/madhu.jpg");
     background-position: 50% 50%;
     background-repeat: no-repeat;
     top:12mm;
     left:1.64mm;
     float: left;
     /*animation: shrink 1s 1 alternate steps(20);*/
     }
    
     #layer2{
         z-index: 0;
        width: 62mm;
        height: 125mm;
        cursor: grab;
        background-size: cover;
       
        
     }
    
     
     
     /*.bg-img::after{
        background-color: rgba(0, 0, 0, 0.37);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
      }
      */
    
    p, #data {
     text-align: center;
     color: transparent;
     border: transparent;
     background-color: transparent;
    }
    
     /*.layer2{
         position: relative;
         top:6mm;
         left:5px;
         /*background-image: url("img/madhu.jpg");*/
       /*width: 54mm;
       height: 110mm;
       /*clip-path: polygon(0 20%, 61% 0, 61% 82.7%, 0% 100%);*/
       
       /*
        background-position:bottom;
         background-repeat: no-repeat;
         background-size:cover;
         object-fit: cover;
         float: inherit;
         opacity: 100;
         z-index: -2;
     }*/
    
     #inner{
    
        position: absolute;
        left: 65mm;
       
        max-width: 60mm;
        min-width: 60mm;
        top: 3mm;
       }
       
       #p1{
        z-index:2 ;
        position: relative;
        top: 5mm;
        left: 0mm;
        font-size: 15px;
        font-family: Tinos;
        font-weight: bold;
        color: white;
        text-align: left;
       }
       #p2{
        z-index:2 ;
        position: relative;
        top: 1mm;
        left: 0mm;
        font-size: 21px;
        font-family: Tinos;
        font-weight: bold;
        color: white;
        text-align: left;
       }
       #p3{
        z-index:2 ;
        position: relative;
        top: -5mm;
        left: 0mm;
        font-size: 10px;
        font-family: Tinos;
        font-weight: bold;
        color: white;
        text-align: left;
       }
       #p4{
        z-index:2 ;
        position: relative;
        top: -3mm;
        left: 0mm;
        font-size: 13px;
        font-family: Tinos;
        font-weight: normal;
        color: #F7C11F;
        text-align:justify;
       }
       #p5{
        z-index:2 ;
        position: relative;
        top: -4mm;
        left: 0mm;
        font-size: 10px;
        font-family: Tinos;
        color: #F7C11F;
        text-align: left;
       }
       #p6{
        z-index:2 ;
        position: relative;
        top: -6mm;
        left: 0mm;
        font-size: 10px;
        color: #F7C11F;
        font-family: Tinos;
        text-align: left;
       }
       #p7{
        z-index:2 ;
        position: absolute;
        top: 123.5mm;
        left: -45mm;
        font-size: 11.5px;
        
        text-align: center;
        color: white;
        max-width: 140mm;
        font-family: Tinos;
       }





    
    #artboardbtns{
        position: absolute;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 29.5%;
        bottom: 2%;
    }
            
        .fix {
            position: relative;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 11px;
            line-height: 14px;
            width: 100px;
            height: 30px;
            border-radius: 5px;
                
                 
                 display:flex;
                 align-items: center;
                 justify-content: center;
                 background: transparent;
            
            padding: 0px 13px;
            cursor: pointer;
            background: transparent;
            border: 0.5px solid #001DEC;
            
            outline: none;
            transition: 0.1s ease-in-out;
            
          color: #001DEC;
          
          float: left;
          
        }
        
        
            .fix:hover {
                transition: 0s ease-in-out;
                
               
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
                /*box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 1px 1px 0 rgba(0,0,0,0.1);*/
            }
        
           
        
        .fix:hover span {
           
            
            
        }
        .fix:active{
            transform: translateY(1px);
        }
    
    
    /*#fix{
    cursor: pointer;
    color:#8338ec ;
    border: none;
    }*/
    
    .adjust {
        position: relative;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 14px;
        width: 100px;
        height: 30px;
        border-radius: 5px;
            
             
             display: flex;
             align-items: center;
             justify-content: center;
             background: transparent;
        
        padding: 0px 13px;
        cursor: pointer;
        background: transparent;
        border: 0.5px solid #001DEC;
        
        outline: none;
        transition: 0.1s ease-in-out;
        
      color: #001DEC;
      left:45px;
      float: left;
    }
    
    
        .adjust:hover {
            transition: 0s ease-in-out;
          
            
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
        }
    
       
    
    .adjust:hover span {
       
        
        
    }
    .adjust:active{
        transform: translateY(1px);
    }
    
    
    h2{
        position: relative;
        font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    top: -11px;
    color: #3C40C6;
    
    }
    
    
    .how {
        position: absolute;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 14px;
        width: 100px;
        height: 30px;
        border-radius: 5px;
            right: 45px;
             
             display: flex;
             align-items: center;
             justify-content: center;
             background: transparent;
        
        padding: 0px 13px;
        cursor: pointer;
        background: transparent;
        border: 1px solid #001DEC;
        
        outline: none;
        transition: 0.1s ease-in-out;
        
      color: #001DEC;
      top:14px;
    }
    
    
        .how:hover {
            transition: 0s ease-in-out;
          
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
        }
    
       
    
    .how:hover span {
        color: white;
        
        
    }
    .how:active{
        transform: translateY(1px);
    }
    
    
    
    .resize {
        position: relative;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 9px;
        line-height: 14px;
        width: 21mm;
        height: 24px;
        border-radius: 30px;
            
             box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
             
             align-items: center;
             justify-content: center;
             background: transparent;
        
        padding: 0px 13px;
        cursor: pointer;
        background: transparent;
        border: 0.5px solid #4F8BFF;
        
        outline: none;
        transition: 5s ease-in-out;
        
      color: #4F8BFF;
     left: 4mm;
    }
    
    
        .resize:hover {
            transition: 0s ease-in-out;
            background: #4F8BFF;
            color: white;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 1px 1px 0 rgba(0,0,0,0.1);
        }
    
       
    
    .resize:hover span {
        color: white;
        
        
    }
    .resize:active{
        transform: translateY(1px);
    }
    
    
    /*Preview*/
    
    .preview{
        position: relative;
          
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 9px;
        line-height: 14px;
        width: 21mm;
        height: 24px;
        border-radius: 30px;
            
             box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
             
             align-items: center;
             justify-content: center;
             background: transparent;
    
            padding: 0px 13px;
            cursor: pointer;
            
            border: 0.5px solid #4F8BFF;
            
            outline: none;
            transition: 5s ease-in-out;
            
          color: #4F8BFF;
          left: 11.5mm;
          float: left;
    }
    
    .preview:hover{
        transition: 0s ease-in-out;
                background: #4F8BFF;
                color: white;
                box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 1px 1px 0 rgba(0,0,0,0.1);
    }
    
    .preview:hover{
        
    }
    
    .preview:active{
        
        transform: translateY(1px);
        animation: generate 3s 1 alternate steps(20);
    }
    
    /*Preview*/
    
    /*Preview1*/
    
    .preview1{
        position: relative;
          
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 9px;
        line-height: 14px;
        width: 21mm;
        height: 24px;
        border-radius: 30px;
            
             box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
             
             align-items: center;
             justify-content: center;
             background: transparent;
    
            padding: 0px 13px;
            cursor: pointer;
            
            border: 0.5px solid #4F8BFF;
            
            outline: none;
            transition: 5s ease-in-out;
            
          color: #4F8BFF;
          left: 11.5mm;
          float: left;
    }
    
    .preview1:hover{
        transition: 0s ease-in-out;
                background: #4F8BFF;
                color: white;
                box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 1px 1px 0 rgba(0,0,0,0.1);
    }
    
    
    
    .preview1:active{
        
        transform: translateY(1px);
        animation: generate 3s 1 alternate steps(20);
    }
    
    /*Preview1*/
    
    
    /*
    div {
        color: blue;
      }
      div:not(:focus):hover {
        color: red;
      }
      div:focus {
        outline: none;
      }
    
    
    @keyframes generate {
        0% {
            
            font-size: 9px;
            background: transparent;
        }
        50% {
            
            background: #4FCE5D;
        }
        100% {
            
            background: transparent;
        }
        
      }*/
    
    
    
    
    .download{
        position: absolute;
     
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 11.5px;
       
        width: 215px;
        height: 40px;
        border-radius: 5px;
        border: 0.5px solid #3ADF00;    
             
             
             align-items: center;
             display: flex;
             justify-content: center;
             background: transparent;
    
    color: white;
    background-color: #3ADF00;
     
    text-decoration: none;
    
    text-align: center;
    transition: 0.3s ease-in-out;
    outline: none;
    
    }
    
    .download:hover{
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
        transition: 0.1s ease-in-out;
        background-color: #39d401;
        cursor: pointer;
    }


}/*Media  -----------------------------__---__---__---__--_--__--__--__--__--__-__--__--__--__--__--__--__---__--__--__--__--__---__--__-  1366-992*/

@media only screen and (min-width: 1440px){
#contofpop{
    height: 100%;
    width: 100%;
    transition: all 1s ease-in-out;
}

#closebtn{
    position: absolute;outline: none; z-index: 601; 
    top: 2%;
    right: 1%;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

#closebtn:active{
    transform: translateY(1px);
    
}

#insbanner{
    height: 74px;width: 600px; position: absolute; background-color: #FFD500; z-index: 600; border-radius: 48px;
    top: 10%;
    right: 22%;
    font-family: 'Open Sans';
    color: #1F249D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 31px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
}

#clickn{
   
    
   
    outline: none;
}
#clickn:active{
    
    transform: translateY(1px);
}
#clickp{
   
    
   
    outline: none;
}
#clickp:active{
    
    transform: translateY(1px);
}

#big{
    position:absolute;
    width:100%; 
    height:100%;
    border-radius: 0;
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    z-index: 400;
    visibility: hidden;
    overflow: hidden;
}
#big:after{
    content:'';
    position:absolute;
    top:var(--tp);
    right:var(--rt); 
    transform: translate(var(--x),var(--y));
   
    border-radius:var(--r);
    width:var(--w); 
    height:var(--h);
    box-shadow: 0px 0px 0px 2000px rgba(18, 22, 139, 0.8);
    -webkit-transition: var(--trans);
    transition: var(--trans);
    overflow: auto;
}

#how{
    
}

#how:active{
    transform: translateY(1px);
    animation: generate 3s 1 alternate steps(20);
    
}


@keyframes trans{
    0%{opacity:1}
    50%{opacity:0}
    100%{opacity:1}
    }






#overall{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
   
}

#head{
    position: relative;
background-color: #F8F8F8;
height: 12mm;

margin: auto;
display: flex;
align-items: center;
border-radius: 6px;
}

#inhead{

}





#Tbody{
    position: relative;
    top: -7mm;
  display: flex;
  align-items: center;
  justify-content: center
}


h5{
    position: relative;
    top: -2mm;
    font-family:'Roboto';
    height: 2.5mm;
    left: 0.7mm;
    color: #577CB5;
}

#infopanel{
    position: absolute;
right: 0%;
    
    max-height: 100%;
    min-height: fit-content;
    height: 100%;
    width: 25%;
    z-index: 1;
    
    font-family: Tinos;
    
    
   background-color: #0317A1 ;
  
  display: flex;
  align-items: center;
  justify-content: center;
 
}

#topinfo
{opacity:1;height: 79px; width: 100%; background-color: #001DEC; position: absolute; top: 0%; z-index: 7; color: white; justify-content: center; align-items: center; display: flex; font-family: 'Open Sans'; font-weight:bolder; font-size: 20px;}

#bottominfo{
    height: 85px; width: 100%; background-color: #001DEC; position: absolute; bottom: 0%; z-index: 7; display:flex; align-items: center; justify-content: center; 
}



#pheader{
    position: absolute;
        font-family: 'Open Sans';
        font-weight:normal;
        font-size: 12px;
        color: white;
        float: left;
    }
.pheader1{
top: 0px;
}
.pheader2{
    top: 73px;
    }
    .pheader3{
        top: 150px;
        }
        .pheader4{
            top: 229px;
            }
            .pheader5{
                top: 308px;
                }


    #txtboxescontainer{
        top:130px; position: absolute;width: 285px;
    }

    #txthead{
        top: -41px; height: fit-content;width: fit-content; position: absolute;
    }

#txtboxes{
    opacity: 1; position: absolute;top: -10px;
}



#name{
    position: relative;
    /*top:-5mm;*/
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
   max-width: 119mm;
   border: none;
   vertical-align: middle;
   color: #0317A1;
   overflow: hidden;
   outline: none;
   display:inline-block; vertical-align:middle;  resize: none;  border-radius: 8px; width:285px; height: 36px; padding-left: 10px; padding-top: 10px; box-sizing: border-box;
}

#name:focus{
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}

::placeholder{
    color: #9697be;
    position: relative;
    
    
}
#name:active{

}

#designation{
    position: relative;
    overflow: hidden;
    top:37.795275591px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
   max-width: 119mm;
   border: none;
   outline: none;
   resize: none;  border-radius: 8px; width:285px; height: 36px;  padding-left: 10px;padding-top: 10px; box-sizing: border-box;color: #0317A1;
}

#designation:focus{
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}
#content{
    position: relative;
    top:151.18110236px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
   max-width: 119mm;
   border: none;
   overflow: hidden;
   outline: none;
   resize: none;  border-radius: 8px; width:285px; height: 188px; padding-left: 10px; padding-top: 12px; padding-right: 10px; box-sizing: border-box;color: #0317A1;
}
#content:focus{
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}
#mail{
    position: relative;
    top:75.590551181px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
   max-width: 119mm;
   border: none;
   overflow: hidden;
   outline: none;
   resize: none;  border-radius: 8px; width:285px; height: 36px;  padding-left: 10px;padding-top: 10px; box-sizing: border-box;color: #0317A1;
}
#mail:focus{
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}
#mobile{
    position: relative;
    top:113.38582677px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
   max-width: 119mm;
   border: none;
   overflow: hidden;
   outline: none;
   resize: none; border-radius: 8px; width:285px; height: 36px;  padding-left: 10px;padding-top: 10px; box-sizing: border-box;color: #0317A1;
}


#mail:focus{
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}






#base{
    position: relative;
    left: 2.5mm;
    height: 133mm;
    background-color: #F8F8F8;
    border-radius: 6px;
 }
 #container{
    position: absolute;
    
    max-height:700px;
    max-width:700px;
    height: 700px;
    width: 700px;
   float: left;
   
   }

#layer1{
    position: absolute;
    background-image: url("img/BG.png");
     background-color: transparent;
     height: 98%;
     width: 98%;
     background-position:top left;
     background-repeat: no-repeat;
     background-size:cover;
     float: left;
      
 }
 

 div.bg-img {
     position: relative;
 background-image: url("img/madhu.jpg");
 background-position: 50% 50%;
 background-repeat: no-repeat;
 top:13mm;
 left:2.1mm;
 float: left;
 /*animation: shrink 1s 1 alternate steps(20);*/
 }

 #layer2{
     z-index: 0;
    width: 83.34mm;
    height: 168mm;
    cursor: grab;
    background-size: cover;
   
    
 }

 
 
 /*.bg-img::after{
    background-color: rgba(0, 0, 0, 0.37);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  */

p, #data {
 text-align: center;
 color: transparent;
 border: transparent;
 background-color: transparent;
}

 /*.layer2{
     position: relative;
     top:6mm;
     left:5px;
     /*background-image: url("img/madhu.jpg");*/
   /*width: 54mm;
   height: 110mm;
   /*clip-path: polygon(0 20%, 61% 0, 61% 82.7%, 0% 100%);*/
   
   /*
    background-position:bottom;
     background-repeat: no-repeat;
     background-size:cover;
     object-fit: cover;
     float: inherit;
     opacity: 100;
     z-index: -2;
 }*/

 #inner{

    position: relative;
    left: 2mm;
    float: left;
    max-width: 79mm;
    min-width: 79mm;
    top: -8mm;
   }
   
   #p1{
    z-index:2 ;
    position: relative;
    top: 5mm;
    left: 0mm;
    font-size: 20px;
    font-family: Tinos;
    font-weight: bold;
    color: white;
    text-align: left;
   }
   #p2{
    z-index:2 ;
    position: relative;
    top: 1mm;
    left: 0mm;
    font-size: 26px;
    font-family: Tinos;
    font-weight: bold;
    color: white;
    text-align: left;
   }
   #p3{
    z-index:2 ;
    position: relative;
    top: -5mm;
    left: 0mm;
    font-size: 15px;
    font-family: Tinos;
    font-weight: bold;
    color: white;
    text-align: left;
   }
   #p4{
    z-index:2 ;
    position: relative;
    top: -3mm;
    left: 0mm;
    font-size: 18px;
    font-family: Tinos;
    font-weight: normal;
    color: #F7C11F;
    text-align:justify;
   }
   #p5{
    z-index:2 ;
    position: relative;
    top: -4mm;
    left: 0mm;
    font-size: 13px;
    font-family: Tinos;
    color: #F7C11F;
    text-align: left;
   }
   #p6{
    z-index:2 ;
    position: relative;
    top: -6mm;
    left: 0mm;
    font-size: 13px;
    color: #F7C11F;
    font-family: Tinos;
    text-align: left;
   }
   #p7{
    z-index:2 ;
    position: absolute;
    top: 162mm;
    left: -52mm;
    font-size: 14px;
    
    text-align: center;
    color: white;
    max-width: 140mm;
    font-family: Tinos;
   }
   
    /*
    .download{
        position: relative;
        left: 0mm;
        top:122mm;
        float: right;
    }
    .preview{
        position: relative;
        left: 1mm;
        top:122mm;
    }*/
   
   
   
   /*BG img drag css*/



#interaction{
    height: 99px;
    width: 285px;
    position: relative;
    top: 3mm;
    display: flex;
    justify-content: center;
}

/*#inpFile{
    position: relative;
    width: 47mm;
    cursor: pointer;
    color: #4F8BFF;
    background-color: aliceblue;
   border: none;
    }
*/

#browse{
    bottom: 26%; 
    position: absolute;
    border: 0.5px solid #ffffff;
    border-style: dashed;
    border-radius: 8px;
    height: 99px;
    width: 285px;
    display: flex;
    justify-content: center;
    
}

#browsetxt{
    color: #ffffff; opacity: 0.6; font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}




    #btnUpload {
        bottom: 20px;
    position: absolute;
    font-family: 'Open Sans';
font-style: normal;
font-weight: bold;
font-size: 9px;
line-height: 14px;
width: 120px;
height: 30px;
border-radius: 5px;
border: 0.5px solid #FFDD33;    
    
     display: flex;
     align-items: center;
     justify-content: center;
     background: transparent;
    float: left;
    cursor: pointer;
    
  
    
    outline: none;
    transition: 0.1s ease-in-out;
    
    color: #FFDD33;
    
   
    
    
      }

      #btnUpload:hover {
        
    transition: 0.1s ease-in-out;
    background-color: rgb(255, 222, 55, 0.2);
    
    }    
    

#btnUpload:active{
    transform: translateY(1px);
}




#control{
     bottom: 19%;
    position: absolute;
    
    
    height: 30px;
    width: 285px;
    display: flex;
    justify-content: center;
    
}




#reset {
    position: absolute;
    font-family: 'Open Sans';
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
width: 120px;
height: 30px;
border-radius: 5px;
border: 0.5px solid #ffffff;    
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
     display: flex;
     align-items: center;
     justify-content: center;
     background: transparent;
    float: left;
    cursor: pointer;
    
  left: 0px;
    
    outline: none;
    transition: 0.1s ease-in-out;
    
    color: #ffffff;
    
   float: left;
    
    
      }

      #reset:hover {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
    transition: 0.1s ease-in-out;
    background-color:#1a31c7;
    }    
    

#reset:active{
    transform: translateY(1px);
}





#submit{
    right: 0px;

    position: absolute;
    border: 1px solid #FFD500;
    font-family: 'Open Sans';
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
width: 120px;
border-radius: 5px;
    height: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFD500;
    padding: 0px 13px;
    cursor: pointer;
    
    
    outline: none;
    transition: 0.1s ease-in-out;
    color: #1F249D;
    float: right;
}

#submit:hover{
  
   transition: 0.1s ease-in-out;
   
   background: #eec600;
   box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}

#submit:active{
   
   transform: translateY(1px);
}


#artboardbtns{
    position: absolute;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 28.25%;
    bottom: 10%;
}
        
    .fix {
        position: relative;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        width: 120px;
        height: 30px;
        border-radius: 5px;
            
             
             display:flex;
             align-items: center;
             justify-content: center;
             background: transparent;
        
        padding: 0px 13px;
        cursor: pointer;
        background: transparent;
        border: 0.5px solid #001DEC;
        
        outline: none;
        transition: 0.1s ease-in-out;
        
      color: #001DEC;
      
      float: left;
     
    }
    
    
        .fix:hover {
            transition: 0s ease-in-out;
            
           
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
            /*box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 1px 1px 0 rgba(0,0,0,0.1);*/
        }
    
       
    
    .fix:hover span {
       
        
        
    }
    .fix:active{
        transform: translateY(1px);
    }


/*#fix{
cursor: pointer;
color:#8338ec ;
border: none;
}*/

.adjust {
    position: relative;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
        
         
         display: flex;
         align-items: center;
         justify-content: center;
         background: transparent;
    
    padding: 0px 13px;
    cursor: pointer;
    background: transparent;
    border: 0.5px solid #001DEC;
    
    outline: none;
    transition: 0.1s ease-in-out;
    
  color: #001DEC;
  left:45px;
  float: left;
}


    .adjust:hover {
        transition: 0s ease-in-out;
      
        
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
    }

   

.adjust:hover span {
   
    
    
}
.adjust:active{
    transform: translateY(1px);
}


h2{
    position: relative;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 31px;
top: 3px;
color: #3C40C6;

}


.how {
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
        right: 45px;
         
         display: flex;
         align-items: center;
         justify-content: center;
         background: transparent;
    
    padding: 0px 13px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #001DEC;
    
    outline: none;
    transition: 0.1s ease-in-out;
    
  color: #001DEC;
  
}


    .how:hover {
        transition: 0s ease-in-out;
      
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
    }

   

.how:hover span {
    color: white;
    
    
}
.how:active{
    transform: translateY(1px);
}



.resize {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 14px;
    width: 21mm;
    height: 24px;
    border-radius: 30px;
        
         box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
         
         align-items: center;
         justify-content: center;
         background: transparent;
    
    padding: 0px 13px;
    cursor: pointer;
    background: transparent;
    border: 0.5px solid #4F8BFF;
    
    outline: none;
    transition: 5s ease-in-out;
    
  color: #4F8BFF;
 left: 4mm;
}


    .resize:hover {
        transition: 0s ease-in-out;
        background: #4F8BFF;
        color: white;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 1px 1px 0 rgba(0,0,0,0.1);
    }

   

.resize:hover span {
    color: white;
    
    
}
.resize:active{
    transform: translateY(1px);
}


/*Preview*/

.preview{
    position: relative;
      
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 14px;
    width: 21mm;
    height: 24px;
    border-radius: 30px;
        
         box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
         
         align-items: center;
         justify-content: center;
         background: transparent;

        padding: 0px 13px;
        cursor: pointer;
        
        border: 0.5px solid #4F8BFF;
        
        outline: none;
        transition: 5s ease-in-out;
        
      color: #4F8BFF;
      left: 11.5mm;
      float: left;
}

.preview:hover{
    transition: 0s ease-in-out;
            background: #4F8BFF;
            color: white;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 1px 1px 0 rgba(0,0,0,0.1);
}

.preview:hover{
    
}

.preview:active{
    
    transform: translateY(1px);
    animation: generate 3s 1 alternate steps(20);
}

/*Preview*/

/*Preview1*/

.preview1{
    position: relative;
      
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 14px;
    width: 21mm;
    height: 24px;
    border-radius: 30px;
        
         box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
         
         align-items: center;
         justify-content: center;
         background: transparent;

        padding: 0px 13px;
        cursor: pointer;
        
        border: 0.5px solid #4F8BFF;
        
        outline: none;
        transition: 5s ease-in-out;
        
      color: #4F8BFF;
      left: 11.5mm;
      float: left;
}

.preview1:hover{
    transition: 0s ease-in-out;
            background: #4F8BFF;
            color: white;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 1px 1px 0 rgba(0,0,0,0.1);
}



.preview1:active{
    
    transform: translateY(1px);
    animation: generate 3s 1 alternate steps(20);
}

/*Preview1*/


/*
div {
    color: blue;
  }
  div:not(:focus):hover {
    color: red;
  }
  div:focus {
    outline: none;
  }


@keyframes generate {
    0% {
        
        font-size: 9px;
        background: transparent;
    }
    50% {
        
        background: #4FCE5D;
    }
    100% {
        
        background: transparent;
    }
    
  }*/




.download{
    position: absolute;
 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
   
    width: 253px;
    height: 48px;
    border-radius: 5px;
    border: 0.5px solid #3ADF00;    
         
         
         align-items: center;
         display: flex;
         justify-content: center;
         background: transparent;

color: white;
background-color: #3ADF00;
 
text-decoration: none;

text-align: center;
transition: 0.3s ease-in-out;
outline: none;

}

.download:hover{
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    transition: 0.1s ease-in-out;
    background-color: #39d401;
    cursor: pointer;
}


}/* Media -------------------------------__---__---__---__--_--__--__--__--__--__-__--__--__--__--__--__--__---__--__--__--__--__---__--__- ---above-1366*/

 


 #previewImage{
    visibility: hidden;
     position: absolute;
     top:10%;
     left: 10%;
     z-index: 5000;
     
 }
 
 



 /* width */
::-webkit-scrollbar {
width: 7px;
visibility: hidden;
}

/* Track */
::-webkit-scrollbar-track {
background:#438bff; 
opacity: 0;
visibility: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
visibility: hidden;
border-radius: 3px;
background: linear-gradient(0deg,#3a86ff, #8338ec,#8338ec,#8338ec, #3a86ff);
 /*background-size: 600% 600%;*/

 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background:#4c00ff;
visibility: hidden;
}
